body {
    display: block;
    margin: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #C6DEEA;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.title {
    font-family: 'Roboto Mono';
    font-size: 220%;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

img {
    width: 30%;
    height: 175px;
    margin: 7px;
    object-fit: cover;
}

h1 {
  color: black;
}
